<section id="slide-1" class="homeSlide" style ="height:600px;">
  <div class= "row">
    <div class = "col-lg-4">
      <img id="sm-logo" src="/assets/stmarks.png" alt="stmarks" style="width: 140px; height: 140px;" > 
    </div>
  </div>
  <div class="w-container">
    <h1> Junior Class Presents </h1>
  </div> 
</section>
<section id="slide-2" style="height: 600px;">
  <div class="row">
    <div class = "col-md-4" style="width: 100%">
      <h1> MCDONALD'S WEEK 2014 </h1>
    </div>
  </div>
  <div class="row">
    <div class = "col-md-3">
      <img id ="Event-Day-One" src ="/assets/Events Day 1.png" alt ="day1" style="width: 100%; height: 100%">
    </div>
    <div class = "col-md-3">
      <img id ="Event-Day-Two" src ="/assets/Events Day 2.png" alt ="day2" style="width: 100%; height: 100%">
    </div>
    <div class="col-md-3">
      <img id="Event-Day-Three" src="/assets/Events Day 3.png" alt="day3" style="width: 100%; height: 100%">
    </div>
    <div class="col-md-3">
      <img id="Event-Day-Four" src="/assets/Events Day 4.png" alt="day4" style="width: 100%; height: 100%">
    </div>
  </div>
  
</section>
<section id="slide-3" style="height:600px">
  <div class="container">
    <div class="row">
      <div class = "col-md-5">
        <img id="years" src="/assets/20 Years Info Slide.png" alt="years" style="width: 50%; height: 100%">
        <br>
        <p> Blah blah blah</p>
      </div>
      <div class = "col-md-5">
        <img id="community" src="/assets/Community Info Slide.png" alt="community" style="width: 50%; height: 100%">
        <br>
        <p> Blah blah blah</p>
      </div>
      <div class="col-md-5">
        <img id="profits" src="/assets/Profits Info Slide.png" alt="profits" style= "width: 50%; height: 100%">
        <br>
        <p> Blah blah blah </p>
    </div>
  </div>
</section>
