<section id="slide-1" class="homeSlide" style ="height:600px;">
  <div class = "col-lg-4">
    <img class="img-circle" src="/assets/stmarks.png" alt="stmarks" style="width: 140px; height: 140px;" > 
  </div>
  <div class="w-container">
    <h1> Junior Class Presents </h1>
  </div> 
</section>
<section id="slide-2" style="height: 600px;">
  
  <div class = "col-md-4">
    <h1> McDonald's Week 2014 </h1>
  </div>

</section>
